* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

body {
    background-color: #eceff1;
}

#nav {
    width: 1262px;
    height: 64px;
    background-color: white;
}

#nav #logo {
    float: left;
    height: 64px;
    width: 250px;
    font-size: 20px;
    line-height: 64px;
    /* background-color: gray; */
}

#nav #logo div {
    float: left;
    height: 64px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 64px;
}

#nav #logo img {
    float: left;
    height: 64px;
    /* width: 64px; */
}

#nav #part {
    float: left;
    height: 64px;
    /* background-color: red; */
    margin-left: 200px;
}

#nav #part .navvv>li {
    float: left;
    padding: 0px 10px;
    line-height: 64px;

}

.navvv>li {
    position: relative;
    float: left;
    padding: 0px 10px;
    line-height: 64px;
}

#nav #part ul li a {
    /* float: left; */
    color: #595959;
    font-family: "kaiti";
}

#nav #part ul li img {
    height: 32px;
    margin-top: 15px;
    float: left;
}

#nav #part ul li a:hover {
    color: #ff6a00;
}

.navvv ul {
    display: none;
    /* !!!!!!!!! */
    position: absolute;
    top: 41px;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    text-align: center;
    font-family: "kaiti";
    font-size: 16px;

}

.navvv ul li {
    border-bottom: 1px solid gray;
}

.navvv ul li a:hover {
    background-color: #FFF5DA;
}

#nav #search {
    float: right;
    padding: 14px 10px 5px 0px;
}

#nav #search input {
    height: 20px;
    border: 1px orange solid;
    border-radius: 9px;
    outline: none;
    line-height: 20px;
    color: lightgray;
    /* margin-top: 10px; */
}



#nav #search button img {
    height: 20px;
    width: 20px;
    border: none;
    /* margin-top: 10px; */

}



body #footer {
    width: 1262px;
    height: 250px;
    background-color: #010a13;
    /* background-color: gray; */
}

#f_top {
    position: relative;
    border-top: 1px orange solid;
    border-bottom: 1px white solid;
    height: 200px;
}

#f_top ul {
    float: left;
    padding: 0 20px;
}

#footer #f_top #most_left {
    padding: 0 50px 0 200px;
}

#f_top ul li a {
    color: #b9b9b9;
    font-size: 14px;
    margin: 12px 0;
}

#f_top ul h2 {
    color: #fff;
    font-size: 16px;
    margin: 12px 0;
}

#f_top img {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 12px;
    width: 100px;
    height: 100px;
}

#f_top #wexin {
    position: absolute;
    right: 169px;
    top: 119px;
    color: white;
}

#f_top #QQ {
    position: absolute;
    right: 45px;
    top: 119px;
    color: white;
}

#f_bottom p {
    text-align: center;
    font-size: 12px;
    color: #b9b9b9;
}

#content {
    width: 960px;
    height: 2500px;
    margin: auto;
    text-align: center;

    /* background-color: lightblue; */
}


#content #about {
    padding: 0 30px;
}

#content #about ul {
    width: 900px;
    border-bottom: 1px solid gray;
}

#content #about h2 {
    padding-top: 35px;
    font-size: 24px;
}

#content #about li {
    margin-top: 15px;
    line-height: 150%;
}

#content #about li span {
    text-decoration: line-through;
}


#content #tech {
    padding: 0 30px;
}

#content #tech ul {
    width: 900px;
    border-bottom: 1px solid gray;
}

#content #tech h2 {
    padding-top: 35px;
    font-size: 24px;
}

#content #tech li {
    margin-top: 15px;
    line-height: 150%;
}

#content #tech li span {
    text-decoration: line-through;
}

.info img {
    width: 100px;
    float: left;
}

.info p {
    width: 700px;
    float: left;
    line-height: 150%;
    margin-top: 15px;
}

.info {
    width: 900px;
    height: 300px;
    border-bottom: 1px solid gray;
}


#shu_nav {
    position: fixed;
    right: 20px;
    top: 65px;
    height: 60px;
    width: 150px;
}


#shu_nav ul li {
    float: left;
    width: 150px;
    line-height: 64px;
    padding-left: 20px;
    background-color: rgba(222, 225, 230, 0.5);
}

#shu_nav ul li a {
    width: 150px;
    float: left;
    color: #595959;
    font-family: "kaiti";
}

#shu_nav ul li img {
    height: 32px;
    margin-top: 15px;
    float: left;
}

#shu_nav ul li .right {
    float: right;
    margin-right: 5px;
}

#shu_nav ul li span {
    float: left;
}

#shu_nav ul li a:hover {
    color: #ff6a00;
}

#content .wenzi {
    padding-top: 20px;
    margin: auto;
    border-bottom: 1px solid lightblue;
}

body #content #info_array {
    width: 80%;
    padding: 0 96px;

}

#mulu {
    position: fixed;
    left: 5px;
    top: 150px;
    border: 1px solid black;
    width: 100px;
}

#mulu li {
    margin: 5px 0px;
    text-align: left;
    border-bottom: 1px solid gray;


}

body #content #mulu .li_herf {
    margin: 5px 3px;
}

body #content #mulu li img {
    height: 14px;
    float: right;
    margin: 5px 0;
}

body #content .wenzi>h3 {
    margin-left: -650px;
    font-family: "kaiti";
    font-size: 20px;
    margin-bottom: 5px;
}


body #content .wenzi .code .codee {
    background-color: gray;
    width: 600px;
    margin: 10px 0px 10px 20px;
    text-align: left;
    padding-left: 10px;
    border-radius: 5px;
    float: left;
}

body #content .wenzi .code span {
    margin-left: 35px;
    color: blue;
    font-size: 24px;
    float: left;
}

body #content .wenzi .out {
    width: 600px;
    margin: 10px 0px 10px 35px;
    text-align: left;
    border-radius: 2px;
}

body #content .wenzi .out span {
    color: orange;
    font-size: 24px;
}

body #content .wenzi .out img {
    margin-left: 55px;
}

body #content .wenzi .command {
    padding-left: 50px;
    text-align: left;
    font-family: "kaiti";
    font-size: 20px;
    border: 1px solid gray;
    margin-bottom: 2px;
    margin-top: 2px;
}

.wenzi h4 #numpy_herf {

    text-decoration: underline;
    color: olive;
}